/* HOME */

.datesHome > h2 {
  font-size: 7rem;
}

.datesHome > img {
  display: none;
}

.imageIcon {
  width: 35%;
  height: auto;
}

.secondHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Other Cities */

.dates-half > p {
  font-size: 1.1rem;
  font-weight: 600;
}
