.gifNotFound {
    width: 310px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoNotFound {
    color: var(--color-contrast);
    margin: 0 2rem;
    text-align: center;
}