.container-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: side 0.1s ease-in-out
}

.container-spinner > h2 {
  color: var(--color-contrast);
  font-size: 2rem;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--color-one);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: var(--color-contrast);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
