.container-nextday {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  width: 95%;
  height: 100%;
}

.info-days {
  /* border: 3px solid yellow; */
  width: 14rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  background-color: var(--color-one);
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.info-days img {
  /* border: 2px solid blue; */
  width: 8rem;
  height: 8rem;
  margin: 1.5rem 0;
}
