header {
  height: 9vh;
  display: flex;
  padding: 0 2rem;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: var(--color-five); */
  
}

header ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

header a {
  font-size: 1.1rem;
  color: var(--color-contrast);
}
