:root {
  font-family: "Acme", sans-serif;

  --color-one: #0c142d;
  --color-two: #1c2540;
  --color-three: #394f6a;
  --color-four: #5abfbd;
  --color-five: #a7dadc;
  --color-background: whitesmoke;

  --color-contrast: #ce330d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  /* color: whitesmoke; */
}

body {
  background-color: var(--color-background);
}

main {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.active {
  color: var(--color-four);
}

@media screen and (max-width: 1115px) {
  main {
      margin-top: 1rem;
  }
}
