.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3; 
  z-index: -1;
  background-size: cover;
}

.container-cities {
  border: 2px solid var(--color-three);
  width: 90%;
  height: 90%;
  /* backdrop-filter: blur(20px); */
  /* background-color: var(--color-five); */

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  border-radius: 15px;
 

  display: grid;
  align-items: center;
  align-content: center;
  grid-column: 10% 25% 40% 25%;
  color: var(--color-one);
}

.cities-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-cities {
  /* border: 6px solisd blue; */
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100px;
}

.dates-sub {
  /* border: 2px solid green; */
  width: 100%;
  height: 25%;
}

.dates-sub > h2 {
  font-size: 8rem;
}

.dates-sub > img {
  /* border: 2px solid red; */
  width: 60px;
  height: 50px;
  border-radius: 50%;
}

/* .dates-half {
  border: 2px solid red; */
  /* height: 40%;
    width: 100%; 
}*/

.dates-half > img {
  width: 10%;
  height: auto;
}



.dates-lower > h3 {
  font-size: 4rem;
  color: var(--color-contrast);
  margin-left: 1.5rem;
}

.cities-principal {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cities-card {
  /* border: 2px solid yellow; */
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.cities-card > img {
  width: 15%;
  height: auto;
}
