.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.container-cities {
  border: 2px solid var(--color-three);
  min-width: 90vw;
  min-height: 75vh;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-one);
  margin: 1rem 2rem;

  animation: side 1s ease-in-out;
}

.section-cities {
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.dates-lower > h3 {
  font-size: 4rem;
  color: var(--color-contrast);
  margin-left: 1.5rem;
}

.cities-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.3rem;
}

@media screen and (max-width: 850px) {
  .dates-lower {
    text-align: center;
  }

  .cities-principal {
    flex-direction: column;
    margin: 0;
  }

  .second-section {
    margin: 2rem 0;
  }

  .dates-lower > h3 {
    margin: 0;
  }
}
