.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.container-cities {
  border: 2px solid var(--color-three);
  min-width: 90vw;
  min-height: 75vh;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  border-radius: 15px;

  /* display: grid;
  align-items: center;
  align-content: center;
  grid-column: 10% 25% 40% 25%;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-one);
  margin: 1rem 2rem;

  animation: side 1s ease-in-out;
}

.cities-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-cities {
  /* border: 6px solisd blue; */
  justify-content: center;
  gap: 1rem;
  /* width: 100%;
  height: 100%; */
  margin-top: 1rem;
}

.dates-sub {
  /* border: 2px solid green; */
  width: 100%;
  height: 25%;
}

.dates-sub > h2 {
  font-size: 8rem;
}

.dates-sub > img {
  /* border: 2px solid red; */
  width: 60px;
  height: 50px;
  border-radius: 50%;
}

.dates-half > img {
  width: 10%;
  height: auto;
}

.dates-half > p,
.dates-sub p {
  font-size: 1.1rem;
  font-weight: 600;
}

.dates-sub .hours {
  display: none;
}

.dates-lower > h3 {
  font-size: 4rem;
  color: var(--color-contrast);
  margin-left: 1.5rem;
}

.cities-principal {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.cities-card {
  /* border: 2px solid yellow; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.cities-card > img {
  width: 15%;
  height: auto;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.3rem;
}

@media screen and (max-width: 850px) {
  .cities-flex {
    flex-direction: column;
    gap: 1rem;
  }

  .dates-half > img {
    width: 35%;
    height: auto;
  }

  .dates-lower {
    text-align: center;
  }

  .cities-principal {
    flex-direction: column;
    margin: 0;
  }

  .second-section {
    margin: 2rem 0;
  }

  .dates-lower > h3 {
    margin: 0;
  }

  .cities-card {
    width: 100%;
    height: 20%;
    gap: 1rem;
  }

  .cities-card > img {
    width: 8%;
  }

  .dates-sub > img {
    display: none;
  }
}
